<footer class="footer   py-3 mt-auto " style="color: #E67E22;">
    <div class="container">
        <span class="text-muted">&copy; Developed By <a href="https://www.linkedin.com/in/affan-ahmed-582aaa208/">Affan</a> and <a href="https://www.linkedin.com/in/shiva-theja-86b31a200/">Shiva</a></span>
    </div>
</footer>
